name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0

      - uses: qetza/replacetokens-action@v1
        with:
          sources: |
            variables.auto.tfvars.tmpl => variables.auto.tfvars
            backend.tf
          variables: >
            [
              ${{ toJSON(vars) }},
              ${{ toJSON(secrets) }},
              { "SERVICE": "shortly-url" }
            ]
          token-pattern: custom
          token-prefix: '${'
          token-suffix: '}'
          log-level: debug
          no-telemetry: true
          root: terraform

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform

      - name: Terraform Destroy
        if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main'
        run: terraform destroy -auto-approve
        working-directory: terraform
