name: deploy

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      - feat/cicd
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: terraform

      - uses: qetza/replacetokens-action@v1
        with:
          sources: |
            variables.auto.tfvars.tmpl => variables.auto.tfvars
            backend.tf
          variables: '[${{ toJSON(vars) }},${{ toJSON(secrets) }}]'
          transforms-prefix: '${'
          transforms-suffix: '}'
          log-level: debug
          no-telemetry: true
          root: terraform

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}